div.centered.grid {
    background-color: #8080801a;
    padding: 3% !important;
}

div.column.main {
    border: solid #d4d4d5 10px;
    padding: 5% !important; 
}

.image-upload-wrap {
    border: 4px dashed #d4d4d5 ;
    position: relative;
  }

  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }

  #pic {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }